.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 75.5rem;
  margin: 0 auto;
  position: relative;
}

.head1 {
  color: #0467e1;
  background-color: white;
  padding: 25px;
  margin-bottom: -70px;
  font-family: Arial;
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  line-height: 74px;
  border-bottom: 1px solid #0467e1;
  line-height: 74px;
}

.hero {
  margin-top: 120px;
  font-family: Arial;
  text-align: left;
  font-weight: 600;
  font-size: 32px;
}

.parag {
  font-family: Arial, sans-serif;
  text-align: left;
  margin-block-start: 2em;
  margin-block-end: 3em;
}

.buts2 {
  color: #41d884;
  border-color: #41d884;
}
.buts1 {
  line-height: 3.5rem;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
  width: 164px;
  font-size: 15px;
  font-weight: 500;
}

.img1 {
  width: 280px;
  height: 210px;
  display: block;
  margin-left: 70px;
  margin-right: auto;
  margin-top: 30px;
}

@media (max-width: 850px) and (min-width: 375px) {
  .layout {
    padding-right: 40px;
    padding-left: 40px;
  }
  .layout1 {
    padding-right: calc(62.4vw + -299.52px);
  }
  .hero {
    font-weight: 600;
    font-size: 4.5vmax;
  }
  .parag {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    margin-block-start: 2em;
    margin-block-end: 3em;
  }
  .img1 {
    width: 330px;
    height: 240px;
    display: block;
    margin-left: 150px;
    margin-right: auto;
    margin-top: 30px;
  }
  .buts {
    width: max-content;
    max-width: 100%;
    min-width: calc(16.03774vw + 48.67925px);
    font-size: 1rem;
    font-weight: 700;
  }
  .buts1 {
    width: 184px;
    height: 56px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 700;
  }
}

@media (min-width: 850px) {
  .layout {
    padding-right: 40px;
    padding-left: 40px;
  }
  .layout1 {
    position: relative;
    padding-right: 51.6556291391%;
    min-height: 26.25rem;
  }
  .hero {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 0.625em;
  }
  .parag {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1.2px;
    position: relative;
    padding-right: 31.6556291391%;
    margin-block-start: 2em;
    margin-block-end: 3em;
  }
  .img1 {
    position: absolute;
    width: 400px;
    height: 298px;
    display: block;
    transform: translateX(85%);
    margin-top: -500px;
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 172px;
    font-size: 1rem;
    font-weight: 700;
  }
}
