.layout {
  margin-inline-start: 25px;
  margin-inline-end: 25px;
}

.head1 {
  color: #0467e1;
  background-color: white;
  padding: 25px;
  margin-bottom: -70px;
  font-family: Arial;
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  line-height: 74px;
  border-bottom: 1px solid #0467e1;
  line-height: 74px;
}

.hero {
  margin-top: 120px;
  font-family: Arial;
  text-align: left;
  font-weight: 600;
  font-size: 32px;
}

.parag {
  font-family: Arial, sans-serif;
  text-align: left;
  margin-block-start: 2em;
  margin-block-end: 3em;
}

.buts2 {
  color: #41d884;
  border-color: #41d884;
}
.buts1 {
  line-height: 3.5rem;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
  width: 164px;
  font-size: 15px;
  font-weight: 500;
}

.img1 {
  width: 280px;
  height: 210px;
  display: block;
  margin-left: 70px;
  margin-right: auto;
  margin-top: 30px;
}

@media (max-width: 425px) {
  .img1 {
    width: 330px;
    height: 240px;
    display: block;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 30px;
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 172px;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media (min-width: 850px) {
  .layout {
    margin-inline-start: 49px;
    margin-inline-end: 500px;
  }
  .hero {
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 1.5px;
  }
  .parag {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-block-start: 2em;
    margin-block-end: 3em;
  }
  .img1 {
    margin-left: 600px;
    width: 600px;
    height: 383px;
    margin-top: -470px;
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 172px;
    font-size: 1rem;
    font-weight: 700;
  }
}
/*
@media (min-width: 1400px) {
  .layout {
    margin-inline-start: 165px;
    margin-inline-end: 885px;
  }
  .head1 {
    margin-top: -20px;
    margin-bottom: -100px;
    font-size: 80px;
    padding: 65px;
  }
  .img1 {
    width: 500px;
    height: 373px;
    margin-top: -450px;
    margin-left: 700px;
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 200px;
    font-size: 1rem;
    font-weight: 700;
  }
}
/*
@media (max-width: 1440px) {
  .layout {
    margin-inline-start: 65px;
    margin-inline-end: 785px;
  }
  .head1 {
    margin-top: -20px;
    margin-bottom: -100px;
    font-size: 80px;
    padding: 65px;
  }
  .img1 {
    margin-right: 40px;
    width: 500px;
    height: 373px;
    margin-top: -450px;
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 200px;
    font-size: 1rem;
    font-weight: 700;
  }
}
*/
