.layout {
  display: flex;
  flex-direction: column;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
}

.head1 {
  color: #0467e1;
  background-color: white;
  padding: 25px;
  margin-bottom: -70px;
  font-family: Arial;
  text-align: left;
  font-weight: 600;
  font-size: 36px;
  line-height: 74px;
  border-bottom: 1px solid #0467e1;
  line-height: 74px;
}

.hero {
  margin-top: 120px;
  font-family: Arial;
  text-align: left;
  font-weight: 600;
  font-size: 32px;
}

.parag {
  font-family: Arial, sans-serif;
  text-align: left;
  margin-block-start: 2em;
  margin-block-end: 3em;
}

.buts2 {
  color: #41d884;
  border-color: #41d884;
}
.buts1 {
  line-height: 3.5rem;
  padding: 0 1.25rem;
  margin-bottom: 1rem;
  width: 164px;
  font-size: 15px;
  font-weight: 500;
}

.img1 {
  width: 280px;
  height: 210px;
  display: block;
  margin-left: 70px;
  margin-right: auto;
  margin-top: 30px;
}

@media (max-width: 850px) and (min-width: 375px) {
  .layout {
    padding-right: calc(50vw + -299.52px);
    margin-inline-start: 45px;
    margin-inline-end: 120px;
  }
  .hero {
    font-weight: 600;
    font-size: 4.5vmax;
  }
  .parag {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 15px;
    letter-spacing: 1px;
    margin-block-start: 2em;
    margin-block-end: 3em;
  }
  .img1 {
    width: 330px;
    height: 240px;
    display: block;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 30px;
  }
  .buts {
    width: max-content;
    max-width: 100%;
    min-width: calc(16.03774vw + 48.67925px);
    font-size: 1rem;
    font-weight: 700;
  }
  .buts1 {
    width: 184px;
    height: 56px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 700;
  }
}

@media (min-width: 850px) {
  .layout {
    padding-right: calc(50vw + -299.52px);
    margin-inline-start: 65px;
    margin-inline-end: 120px;
  }
  .hero {
    font-weight: 600;
    font-size: 4.5vmax;
    position: relative;
    padding-right: 21.6556291391%;
  }
  .parag {
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 16px;
    letter-spacing: 1.2px;
    position: relative;
    padding-right: 31.6556291391%;
    margin-block-start: 2em;
    margin-block-end: 3em;
  }
  .img1 {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 50%;
    height: 50%;
    transform: translateY(-50%);
    padding-top: 0%;
    margin: 0;

    /*
    
    pointer-events: none;
    width: 600px;
    height: 383px;
    margin-top: 50px;*/
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 172px;
    font-size: 1rem;
    font-weight: 700;
  }
}

/*
@media (min-width: 950px) {
  .layout {
    margin-inline-start: 70px;
    margin-inline-end: 400px;
  }
  .head1 {
    margin-top: -20px;
    margin-bottom: -100px;
    font-size: 80px;
    padding: 65px;
  }
  .img1 {
    width: 500px;
    height: 373px;
    margin-top: -450px;
    margin-left: 450px;
    position: absolute;
  }
  .img12 {
    position: absolute;
    /*z-index: -1;
    top: 50%;
    right: -3.3112582781%;
    width: 54.9668874172%;
    padding-top: 18.3443708609%;
    margin: 0;
    transform: translateY(-50%);
    pointer-events: none;
  

  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 200px;
    font-size: 1rem;
    font-weight: 700;
  }


@media (max-width: 1440px) {
  .layout {
    margin-inline-start: 65px;
    margin-inline-end: 785px;
  }
  .head1 {
    margin-top: -20px;
    margin-bottom: -100px;
    font-size: 80px;
    padding: 65px;
  }
  .img1 {
    margin-right: 40px;
    width: 500px;
    height: 373px;
    margin-top: -450px;
  }
  .buts1 {
    line-height: 3.5rem;
    padding: 0 1.25rem;
    margin-right: 5.875rem;
    margin-bottom: 1rem;
    width: 200px;
    font-size: 1rem;
    font-weight: 700;
  }
}
*/
